@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1587454999353'); /* IE9 */
  src: url('iconfont.eot?t=1587454999353#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABmAAAAJeAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQMBNgIkAwgLBgAEIAWEbQcwG6kFyC6wbdiTRnaT/sCiRwA3AwCGCKL9+M3e3TeRaJhlUWmEIp4+peIh4o2QaJoo4W1MF2MblfNsWcXeviPp2GlY5/Eoh1Igcf/C/XvAKRnyRR70wgTPkATErPeJe6d/An2Q1jvvchlj0FiTJnUBRhMowL0wiqyAsGHsghf4nECjUVXpfaPFIVVS2OsCcdc21VSpEFYUlqsXahuOFvFSjfr0Iv0AG9Hv4z9FiaQmsxsOXh8aqc4/OgX5fsXZgBAhoNM1yFiWUoijjen9soJxWY3pnEmpY9UG/2qrKnCJo/55opZd3QyGoeKZlJ7qUcUTKCiHmDZhtuzNzc3lynfH/xPtsSSW5aVQexRuueINPc+/zr9+5Vf5daB7TWWZDEph4aujj9KHD8nXPqYyKMdSqH0EExu3tyj/rmY3RwSL3Z8utHU9Gw79/Pa9L1pRvS3yfdTv1RP8HeXAnmKobWcqmrIxnwzLnrWpUSMq2N/pd6ql51byoV7PDXnrjGTI6k2ThV1GjSYrqFVvJxotGZ9u0oVlRWnAogdAaPdC0uojsnZvsrA/qNHrD7XaI4tGx8Mrm8yGXZlRFTRAu4OthwG5bqnEtTs0z57KeXXEOyEndgxa9WY5N8YAeYkdycVsixAQhz6MwGvoeSFEHDqoS90SiZRGg5o+VNdDP1WxF0MqgQxAcwdsulCAgsGiUvn+DjKdeVTc0VWXPEEsYc8OWuqaA8ixIRjU9SjvJC5MbUIQQFjIB0ZgEfJ4QiBqXuRAOlFnTUhGFA2nHw011Lc3+X93ChrZ1hTOvKz2HqqsW6kUAAAA') format('woff2'),
  url('iconfont.woff?t=1587454999353') format('woff'),
  url('iconfont.ttf?t=1587454999353') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1587454999353#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e506";
}

